<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <h1>Edit Wiki</h1>
          <%= render partial: "form" %>
        <% if policy(@wiki).destroy? %>
          <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this Wiki?' } %></br>
        <% end %>
      </div>
    </div>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <%= link_to "New Wiki", new_wiki_path  %>
        <%= link_to "Wiki's list", wikis_path %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="form-group">
      <%= link_to "Blocipedia", root_path %>
      <%= link_to "About", welcome_about_path %>
    </div>
  </div>
</div>