<div class="container">
  <h1>Wikis</h1>

  <% if policy(Wiki.new).create? %>
    <h2><%= link_to "New Wiki", new_wiki_path %></h2>
  <% end %> 

  <% @wikis.each do |wiki| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to wiki.title, wiki %>
        </h4>
      </div>
    </div>
  <% end %>
  <%= will_paginate @wikis %>
</div>

  <div class="row">
    <%= link_to "Blocipedia", root_path %>
    <%= link_to "About", welcome_about_path %>
  </div>
 
