<div class="container">
  <h2><%= markdown_to_html @wikis.title %></h2>
  <div class='form-group'>
    <%= @wikis.body %>
    <% if policy(@wikis).edit? %>
      <div>
      <%= link_to "Edit", edit_wiki_path, class: 'btn btn-small' %>
      </div> 
    <% end %>
    <br>
    <%= link_to "New Wiki", new_wiki_path  %> <br>
    <%= link_to "Wiki's list", wikis_path %>
  </div>
</div> 

